/* CustomTabulatorStyles.css */

/* General table styling */
.tabulator {
  /* font-family: Arial, sans-serif; */
  font-size: 14px;
  border: 1px solid #ddd;
}

/* Header styling */
.tabulator .tabulator-header {
  background-color: #f8f9fa;
  /* border-bottom: 1px solid #ddd; */
  color: black;
  font-size: 16px;
}

.tabulator .tabulator-col {
  border-right: 1px solid #ddd;
}

.tabulator .tabulator-col-title {
  font-weight: bold;
  text-align: center;
  padding: 10px;
  height: 40px;
  /* background-color: red; */
}

/* Row styling */
.tabulator .tabulator-row {
  border-bottom: 1px solid #ddd;
}

.tabulator .tabulator-row:nth-child(even) {
  background-color: #f2f2f2;
}

/* Cell styling */
.tabulator .tabulator-cell {
  padding: 10px;
  border-right: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
}
.tabulator .tabulator-cell.numeric-align {
  text-align: right;
}

.tabulator .tabulator-footer {
  background-color: #f8f9fa;
  border-top: 1px solid #ddd;
  color: black;
  font-size: 16px;
  font-weight: bold;
  height: 100px;
  padding: 15px;
}
.tabulator .tabulator-footer-contents {
  background-color: #f8f9fa;
  /* border-top: 1px solid #ddd; */
  color: black;
  font-size: 16px;
  font-weight: bold;
  height: 40px;
}

/* Pagination styling */
.tabulator .tabulator-paginator {
  background-color: #f8f9fa;
  /* border-top: 1px solid #ddd; */
  padding: 10px;
}

.tabulator .tabulator-page {
  margin: 0 5px;
  cursor: pointer;
}

.tabulator .tabulator-page.active {
  font-weight: bold;
  text-decoration: underline;
}
/* Default color for unsorted columns */
.tabulator
  .tabulator-header
  .tabulator-col[aria-sort="none"]
  .tabulator-col-sorter
  i {
  color: #999 !important;
}

/* Color for ascending sorted columns */
.tabulator
  .tabulator-header
  .tabulator-col[aria-sort="ascending"]
  .tabulator-col-sorter
  i {
  color: rgb(24, 188, 156) !important;
}

/* Color and transformation for descending sorted columns */
.tabulator
  .tabulator-header
  .tabulator-col[aria-sort="descending"]
  .tabulator-col-sorter
  i {
  color: rgb(24, 188, 156) !important;
  transform: scaleY(-1) !important;
}

/* Ensure icons are visible */
.tabulator .tabulator-col-sorter i {
  display: inline-block !important;
}
